/* Body background */
body {
    background-color: #f3f3f3;
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    line-height: 1.2em;
}

/* h1 styling and other appropriate header spaces */
h1, #game-over-heading {
    line-height: 1.2em;
    font-size: 1.5em;
}

/* h2 styling */
h2 {
    font-size: 1em
}


/* Remove purple & underline on visited links */
a:visited, a {
    color: inherit;
    text-decoration-line: none;
}



/* Aligns text to center */
.text-align-center {
    text-align: center;
}

/* set main wrapper margin */
.wrapper {
    margin: 0px 10px;
}

/* Sets the main  */
#main {
    margin: 100px 50px;
}


/* class to hide elements */
.hide {
    display: none;
}

/* position the high score link in the upper left*/
#view-score-box {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 20px;
}

/* position the high score link in the upper right*/
#timer-box {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 20px;  
    text-align: right;  
}

/* remove paragraph default margin */
#timer-box p {
    margin: 0px;
}

/* Styling for the div that contains the questions */
#question-div-box {
    text-align: left;
    margin: 20px auto;
    max-width: 700px;
}

/* text align the buttons to the left */
#question-div-box button {
    text-align: left;
}

/* Style the question titles */
.question-title {
    margin: 20px auto;
    font-size: 18px;
    line-height: 1.2em;
}

/* style the div that contains the answers */
#answer-list {
    font-size: 18px;
    line-height: 2em;
}

/* make all the buttons blocks */
#answer-list button {
    display: block;
}

/* Button styling */
.btn {
    border: 0px;
    background: #557a95;
    margin: 5px 0px;
    padding: 7px;
    color: #f3f3f3;
    font-size: 15px;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
}

/* button hover styling */
#answer-list button:hover, .btn:hover {
    background: #75b1d4;
}

/* add margin to the div that contains the computer's response to the user's answer choice */
#answer-response-box {
    margin-top: 20px;
}

/* Remove margin from the answer response */
#answer-response {
    margin: 0px;
}

/* set a class that flexes the div it's applied to */
.flex-center {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

/* add margin to the final score buttons div */
#final-score-buttons {
    margin-top: 10px;
}

/* add margin to each final-score button */
#final-score-buttons button {
    margin: 10px;
}

/* Change font and width of initials input value */
#initials-input {
    font-family: 'Press Start 2P', cursive;
    width: 50px;
}

/* Style the high score table*/
table {
    border-collapse: collapse;
    border: 1px dotted #659dbd;
    text-align: right;
    width: 35%;
}

/* apply an alternate background for each background */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* apply a blue background to the header of the table */
th {
    background-color: #659dbd;
    color: #fefefe;
}

/* add cell padding to the table */
td, th {
    padding: 5px 5px;
}

/* add margin to the div that contains the high score buttons */
#score-buttons {
    margin: 20px;
}

/* add margin to separate the high score page buttons */
#score-buttons button {
    margin: 10px;
}


